# Python Bytecode and Cache Files
__pycache__/
*.py[cod]
*.pyo

# PyInstaller Build Artifacts
build/
dist/
*.spec

# Log Files
*.log
process.log

# Virtual Environment
env/
venv/

# OS-Specific Files
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini  # Windows

# Editor/IDE Specific Files
.idea/         # PyCharm
.vscode/       # Visual Studio Code
*.swp          # Vim swap files
*.swo

# Dependency Files
*.egg-info/
.Python
*.eggs

# Other Artifacts
*.tar.gz
*.zip
*.exe
*.bak
*.tmp
*inputs
*outputs
*processed